@tailwind base;
@tailwind components;
@tailwind utilities;
/* gradient */
:root {
  --grdient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
body {
  background: var(--grdient1);
}
.header {
  letter-spacing: 0.7rem;
}
form {
  width: 100%;
}
input {
  border: 1px solid transparent;
}
.error-img {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
}
.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, 0%);
  visibility: hidden;
}
.active {
  visibility: visible;
}
button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(1%, -1%);
  filter: drop-shadow(0px 20px 5px rgba(191, 12, 12, 0.086));
  transition: all 50ms linear;
}
button:hover {
  filter: drop-shadow(0px 20px 8px rgba(142, 5, 5, 0.176));
}
.btn-img {
  background: var(--gradient2);
}

/* footer */
footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  min-width: 250px;
}
@media (min-width: 768px) {
  body {
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
  }
  .desktop-img {
    background: url(../images/hero-desktop.jpg) no-repeat;
    background-size: auto;
  }
  form {
    width: 80%;
  }
  .error-img {
    left: -40%;
    transform: translate(0, -50%);
  }
}
@media (min-width: 976px) {
  form {
    width: 60%;
  }
}
